<template>
    <div>
        <div class="wall">
            <transition-group name="falling">
                <div class="wall-elem-wrap"
                     v-for="image in images"
                     v-bind:class="{ inactive: !image.loaded }"
                     :key="image.url"
                     :style="`transform: rotate(${image.rot}deg);top: ${image.top}%;left: ${image.left}%;`"
                >
                    <a class="wall-elem rounded"
                       v-bind:class="{ inactive: !image.loaded }"
                    >
                        <img class="wall-img"
                             v-bind:src="`/api/v1/image/${image.url}`"
                             v-on:load="onLoadImage(image.url)"
                        />
                    </a>
                </div>
            </transition-group>
        </div>
        <QRCode/>
    </div>
</template>
<style scoped>
    .wall {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .wall-elem-wrap {
        position: absolute;
    }

    .wall-elem {
        position: relative;
        height: 50vh;

        display: inline-block;
        background: antiquewhite;
        padding: 0.25em 0.25em 0.25em;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    }

    .wall-img {
        max-height: 100%;
        image-orientation: from-image;
    }

    .inactive {
        opacity: 0;
        animation-play-state: paused !important;
    }

    .falling-enter-active:nth-last-child(-n+5) {
        animation: wall-pose;
        animation-duration: 5s;
    }

    @keyframes wall-pose {
        from {
            transform: rotate(0deg);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
    }
</style>
<script lang="ts">
  import Vue from 'vue';
  import WebSocket from 'isomorphic-ws';
  import Component from 'vue-class-component';
  import QrCode from '@/components/QrCode.vue';

  interface ImageDisplay {
    url: string;
    loaded: boolean;
    top: number;
    left: number;
    rot: number;
  }

  interface Position {
    x: number;
    y: number;
  }

  const zero2D = (sizeY: number, sizeX: number): number[][] => {
    const result: number[][] = [];
    for (let y = 0; y < sizeY; y++) {
      const row: number[] = [];
      for (let x = 0; x < sizeX; x++) {
        row.push(0);
      }
      result.push(row);
    }
    return result;
  };

  const socketUrl = () => {
    let urlBuilder = 'ws';
    if (window.location.protocol.startsWith('https')) {
      urlBuilder += 's';
    }
    urlBuilder += `://${window.location.hostname}`;
    if (window.location.port !== '') {
      urlBuilder += `:${window.location.port}`;
    }
    return `${urlBuilder}/ws`;
  };

  const HEAT_MAP_SIZE_X: number = 3;
  const HEAT_MAP_SIZE_Y: number = 2;

  @Component({components: {QRCode: QrCode}})
  class WallVue extends Vue {
    private ws = new WebSocket(socketUrl());
    private images: ImageDisplay[] = [];
    private imageDataCache: { [url: string]: ImageDisplay } = {};
    private positionMap: number[][] = zero2D(HEAT_MAP_SIZE_X, HEAT_MAP_SIZE_Y);

    private random(min: number, max: number): number {
      const random = (Math.random() + Math.random()) / 2;
      return (random * (max - min)) + min;
    }

    private generatePosition(): Position {
      let minimum = Number.MAX_VALUE;
      let minPositions: Position[] = [];
      for (let y = 0; y < HEAT_MAP_SIZE_Y; y++) {
        for (let x = 0; x < HEAT_MAP_SIZE_X; x++) {
          const value = this.positionMap[x][y];
          if (value < minimum) {
            minimum = value;
            minPositions = [{x, y}];
          } else if (value === minimum) {
            minPositions = [...minPositions, {x, y}];
          }
        }
      }
      const position = minPositions[Math.round(this.random(0, minPositions.length))];
      this.positionMap[position.x][position.y] += 1;
      return {
        y: position.y / HEAT_MAP_SIZE_Y * 100,
        x: position.x / HEAT_MAP_SIZE_X * 100,
      };
    }

    private mounted() {
      this.ws.onmessage = (msg) => {
        const imageList: string[] = JSON.parse(msg.data.toString());
        this.images = imageList
          .reverse()
          .map((urlStr) => {
            if (!this.imageDataCache[urlStr]) {
              const position = this.generatePosition();
              this.imageDataCache[urlStr] = {
                url: urlStr,
                loaded: false,
                top: position.y,
                left: position.x,
                rot: this.random(-10, 10),
              };
            }
            return this.imageDataCache[urlStr];
          });
      };
    }

    private onLoadImage(url: string) {
      this.images = this.images.map((image) => {
        if (image.url === url) {
          return {...image, loaded: true};
        }
        return image;
      });
      this.imageDataCache[url] = {...this.imageDataCache[url], loaded: true};
    }

    private destroy() {
      this.ws.close();
    }
  }

  export default WallVue;
</script>
