<template>
    <div class="row">
        <div class="col-md-12"
             v-on:drop="onDrop"
        >
            <div class="drop d-flex justify-content-center align-items-center"
                 v-on:click="openFileSelection">
                <div>
                    +
                </div>
                <input v-if="multipleSupported()"
                       ref="fileInput"
                       class="file-input"
                       type="file" multiple
                       accept="image/*"
                       v-on:change="onFileChanged"/>
                <input v-else
                       ref="fileInput"
                       class="file-input"
                       type="file"
                       accept="image/*"
                       v-on:change="onFileChanged"/>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .drop {
        width: 100%;
        height: 4em;

        font: bold 2em arial;
        border: 3px dashed #42b983;
        color: #42b983;
    }

    .drop:hover {
        background-color: #b3dbc9;
    }

    .file-input {
        display: none;
    }

</style>
<script lang="ts">
  import Vue from 'vue';
  import { Component, Emit } from 'vue-property-decorator';

  @Component
  export default class FileSelector extends Vue {

    @Emit('update')
    private onUpdate(fileList: FileList): File[] {
      return Array.from(fileList);
    }

    private multipleSupported(): boolean {
      const isFirefoxAndroid = navigator.userAgent.indexOf('Firefox') > -1
        && navigator.userAgent.indexOf('Android') > -1;
      return !isFirefoxAndroid;
    }

    private openFileSelection(): void {
      (this.$refs.fileInput as HTMLElement).click();
    }

    private onDrop(event: DragEvent): void {
      if (!event.dataTransfer) {
        return;
      }
      event.preventDefault();
      const files = event.dataTransfer.files;
      this.onUpdate(files);
    }

    private onFileChanged(event: any) {
      const fileList: FileList = event.target.files;
      this.onUpdate(fileList);
    }

  }
</script>
