<template>
    <div class="card mb-2">
        <div class="card-header">
            <div class="image-preview">
                <img :src="url" v-if="url" />
            </div>
        </div>
        <div class="card-body">
            <button type="button"
                    class="btn btn-secondary btn-block"
                    v-on:click="onDelete"
            >{{ i18n.remove }}
            </button>
        </div>
    </div>
</template>
<style scoped>
    .image-preview {
        text-align: center;
    }

    .image-preview img {
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        image-orientation: from-image;
    }
</style>
<script lang="ts">
  import Vue from 'vue';
  import { Component, Emit, Model, Prop, Provide } from 'vue-property-decorator';
  import { I18N } from '@/i18n/I18n';

  @Component
  export default class ImageList extends Vue {
    @Prop()
    private image: File;
    private url: string = '';
    private i18n = I18N.get().upload.button;

    private created() {
      const reader = new FileReader();
      const self = this;

      reader.onload = (e: any) => {
        self.url = e.target.result;
      };
      reader.readAsDataURL(this.image);
    }

    @Emit('delete')
    private onDelete(): void {
      // Only emmit.
    }

  }
</script>
