<template>
    <div class="lower-right">
        <div class="card">
            <div class="card-body" align="center">
                <qr v-bind:text="url"
                    :size="125"/>
                <div align="center">
                    {{this.displayUrl}}
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .lower-right {
        position: absolute;
        bottom: 1em;
        right: 1em;
        z-index: 2000;
    }
</style>
<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';
  import VueQRCodeComponent from 'vue-qrcode-component';

  @Component({
               components: {
                 qr: VueQRCodeComponent,
               },
             })
  class QRVue extends Vue {
    private url = window.location.origin;
    private displayUrl = window.location.host;
  }

  export default QRVue;
</script>
