<template>
    <div class="card mb-2">
        <div class="card-header">
            <div class="image-preview">
                <img :src="url" v-if="url"/>
            </div>
            <div class="progress">
                <div class="progress-bar"
                     v-bind:class="`bg-${state}`"
                     role="progressbar"
                     v-bind:style="`width: ${Math.round(progress*100)}%`"
                     v-bind:aria-valuenow="Math.round(progress*100)"
                     aria-valuemin="0"
                     aria-valuemax="100">
                    {{getProgressText()}}
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .image-preview {
        text-align: center;
    }

    .image-preview img {
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        image-orientation: from-image;
    }
</style>
<script lang="ts">
  import Vue from 'vue';
  import { Component, Prop } from 'vue-property-decorator';
  import { I18N } from '@/i18n/I18n';

  enum UploadState {
    IN_PROGRESS = 'info',
    SUCCESS = 'success',
    ERROR = 'danger',
  }

  @Component
  export default class ImageList extends Vue {
    @Prop()
    private image: File;
    @Prop()
    private state: UploadState = UploadState.IN_PROGRESS;
    @Prop()
    private progress: number = 0;
    private errorMessage: string = I18N.get().upload.subtitle.uploadError;
    private url: string = '';

    private getProgressText(): string {
      if (this.state === UploadState.ERROR) {
        return this.errorMessage;
      }
      return `${Math.round(this.progress * 100)}%`;
    }

    private created() {
      const reader = new FileReader();
      const self = this;
      reader.onload = (e: any) => {
        self.url = e.target.result;
      };
      reader.readAsDataURL(this.image);
    }

  }
</script>
